
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#profile-photo {
    width: 100px;
    height: 100px;
}

.post {
    width: 300px;
    height: 300px;
}

#footer {
    font-family: 'Raleway', sans-serif;
}